/* default bullets */
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    color: #CAD1DB;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

/* active bullet becomes oval */
.swiper-pagination-bullet-active {
    width: 30px;
    height: 8px;
    background-color: #9FACBF;
}
.swiper-wrapper {
    transition-timing-function: ease-in-out !important;
  }

/* smaller bullets in smaller screen */
@media (max-width:768px) {
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 4px;
    }
    .swiper-pagination-bullet-active {
        width: 20px;
        height: 6px;
        background-color: #9FACBF;
    }

}