.custom-collapse .ant-collapse-item {
  border-bottom: 1px solid #e5e7eb;
}

.custom-collapse .ant-collapse {
  border: none;
}

.custom-collapse .ant-collapse-item:last-child {
  border-bottom: none;
}

.custom-collapse .ant-collapse-header {
  padding-left: 0;
  padding-right: 0;
}

.custom-collapse .ant-collapse-header {
  background-color: transparent !important;
  color: #0f172a !important;
  cursor: default !important;
  transition: none !important;
}

.custom-collapse .ant-collapse-header:hover {
  background-color: transparent !important;
  color: #0f172a !important;
  cursor: default !important;
  text-decoration: none !important;
}

:where(.css-dev-only-do-not-override-mc1tut) a:hover {
  color: red;
}